body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #a04545;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.dashboard h1 {
    color: #333;
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem;
    flex: 1 1 20%;
    max-width: 30%;
    text-align: center;
}

.card h2 {
    margin-bottom: 1rem;
    color: #333;
}

.card p {
    color: #666;
}

.btn{
    font-size: 20px;
    border-radius: 5px;
    width: 40%;
    border: none;
    transition: transform 0.3s;
}
.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(120, 120, 137);
    color: white;
    
}
@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
