* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212f0;
  /* background-color: red; */
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  overflow-x: hidden;
 
}
@media (max-width: 768px) {
  body{
    width: 60vw  ;
    /* background-color: violet; */
  }
}